.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 32px;
  margin: 35px 25px 0 35px;
}

.header-nav {
  grid-column-start: 8;
}

.header-logo-container h1 {
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 500;
}

.header-nav-menu {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.header-nav-items .header-nav-item {
  list-style: none;
  display: inline-block;
}

.header-sidebar {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  display: none;
}

.header-sidebar-active {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(169, 169, 169);
  width: 30%;
  height: 100%;
  z-index: 100;
  position: fixed;
  right: 0px;
  top: 0;
  padding: 42px 20px 20px 20px;
}

@media (min-width: 1100px) {
}
